<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.9"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>
  <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
  <title>{% block title %}{% endblock %} - RUSS</title>
  {% endblock %}
</head>
<body>
    <div id="tabs-rounds-1" hx-target="#tab-contents" role="tablist" _="on htmx:afterOnLoad set @aria-selected of <[aria-selected=true]/> to false tell the target take .selected set @aria-selected to true">
        <button id="tab-round-1" role="tab" aria-controls="tab-content" aria-selected="true" hx-get="/round_input/1" class="selected">R1</button>
        <button id="tab-round-2" role="tab" aria-controls="tab-content" aria-selected="false" hx-get="/round_input/2">R2</button>
        <button id="tab-round-3" role="tab" aria-controls="tab-content" aria-selected="false" hx-get="/round_input/3">R3</button>
        <button id="tab-round-4" role="tab" aria-controls="tab-content" aria-selected="false" hx-get="/round_input/4">R4</button>
        <button id="tab-round-5" role="tab" aria-controls="tab-content" aria-selected="false" hx-get="/round_input/5">R5</button>
        <button id="tab-round-6" role="tab" aria-controls="tab-content" aria-selected="false" hx-get="/round_input/6">R6</button>
        <button id="tab-round-7" role="tab" aria-controls="tab-content" aria-selected="false" hx-get="/round_input/7">R7</button>
        <button id="tab-round-8" role="tab" aria-controls="tab-content" aria-selected="false" hx-get="/round_input/8">R8</button>
    </div>
    <div id="tabs-rounds-2" hx-target="#tab-contents" role="tablist" _="on htmx:afterOnLoad set @aria-selected of <[aria-selected=true]/> to false tell the target take .selected set @aria-selected to true">
        <button role="tab" aria-controls="tab-content" aria-selected="false" hx-get="/standings">Standings</button>
    <div id="content">{% block content %}{% endblock %}</div>
    </div>
</body>
</html>
