<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
  <div class="modal-underlay" _="on click trigger closeModal"></div>
  <div class="modal-content">
    <p class="text-lg text-center pb-3">Matchups of {{player_name}}</p>
    {% for m in matchups %}
    <div class="flex gap-2">
        <div class="basis-1/3">
          <p>{{m.white_name}}</p>
        </div>
        <div class="px-2">
          <p>{{m.white_score}}</p>
        </div>
        <div class="basis-1/3">
          <p>{{m.black_name}}</p>
        </div>
        <div class="px-2">
          <p>{{m.black_score}}</p>
        </div>
    </div>
    {% endfor %}
    <button _="on click trigger closeModal">Close</button>
  </div>
</div>
